DB_ENGINE  = INFORME QUAL A ENGINE DESEJADA
DB_HOST = INFORME O HOST
DB_NAME = INFORME O NOME DO DATABASE
DB_USER = INFORME O USUARIO
DB_PASSWORD = INFORME O PASSWORD
DB_PORT = INFORME A PORTA DO DATABASE UTILIZADO
DB_OPTIONS = "-c search_path=" -- APENAS EM CASO DE USAR POSTGRESQL
